@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: .7rem;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top select {
  font-size:.85rem;
  padding: .3rem;
  margin-left: 10px;
}

.listing {
  display: grid;
  grid-template-columns: 75px repeat(3, 1fr);
  padding: .2rem;
  border-bottom: 1px solid black;
  column-gap: 10px;
  align-items: center;
}

.listing:first-child {
  border-bottom: 2px solid black;
  font-weight: bold;
}

.total {
  display: flex;
  gap: 10px;
}

#totalSum {
  font-weight: bold;
}

@keyframes buttonBackGroundColor {
  from {background-color: default;}
  to {background-color: grey;}
}

.listing button {
  border: 1px solid grey;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.buttonBackgroundAnimation {
  animation: buttonBackGroundColor;
  animation-duration: 150ms;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.quantity-things {
  display: flex;
  align-items: center;
}

#warning {
  background-color: hsl(0,60%,50%);
  padding: .8rem 1rem;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}


.hidden {
  visibility: hidden;
}

#invoice-total,
input[type=number][data-price],
.control-buttons input[type=number] {
  border: 0;
  border-bottom: 1px solid black;
  font-size: 1rem;
}

.control-buttons input[type=number] {
  font-size: .75rem;
}

#invoice-total:focus,
.control-buttons input[type=number],
input[type=number][data-price] {
  outline: none;
}

input[type=number][data-price] {
  font-size: .8rem;
}

.active {
  background-color: hsl(190, 57%, 78%);
  font-weight: bold;
}

@keyframes quantityFade {
  from {background-color: hsl(200, 53%, 57%);}
  to {background-color: transparent;}
}

[data-quantity],
[data-total]{
  padding: .3rem;
  border-radius: 5px;

}


.quantityAnimation {
  /* background-color: hsl(200, 57%, 78%); */
  animation-name: quantityFade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.listing input[type=number] {
  width: 45px;
}

.addMoreButton {
  border-radius: 100px !important;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.listing p {
  width:max-content;
}

.control-buttons {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  gap: 5px;

}
.control-buttons button {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 50%);
}

.control-buttons button:active {
  background-color: hsl(0, 0%, 80%);
}

.displaynone {
  display: none;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

.fadein {
animation-name: fadein;
animation-duration: 300ms;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 300ms;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}